@charset "UTF-8";

* { margin: 0px; padding: 0px;}
ul, ol{ list-style-type: none; }

/* section */
section{
	width: 100%; height: 960px;
	background: url("../images/main.jpg") no-repeat;
	background-size: cover;	
}
section>div {
	width: 80%; height: 400px;
	color: #fff;
	margin: 0 auto;
	position: relative; top: 40px;
}
section>div>h1 {
	font-size: 70px;
	margin-bottom: 10px;
}
section>div>p {
	font-size: 40px;
}













