@charset "UTF-8";

div{
	text-align: right;
	margin: 20px auto;
	
	
}
#d01 {
	width: 1150px;
	border: 1px solid black;
}

#d01 img {
	width: 300px; height: 300px;
	position: relative;
}

#d02 {
	width: 320px;
	border: 1px solid black;
}
button {
	width: 100px; height: 100px;
	margin: 0 auto;
	cursor: pointer;
	
}
 /* #moving{
	width: 850px;
	text-align: right;
	margin: 20px auto 0px;
	
	border: 1px solid black;
	
}

#moving img{
	width: 300px; height: 300px;
		
	cursor: pointer;
	
	position: relative;
	
} */